.design-process-title span{
    font-size: .9rem;
}
.coustom-design-process img {
    margin-bottom: -55px;

}
.coustom-design-process p {

line-height:40px;

}
.img-design-process img{
width: 550px;
height: 600px;
margin-top: -61px;

}
.coustom-design-process p{
    margin-right: 31px;
}

.coustom-h5-Design-process span::after{
    content: '';
    width: 50px;
    height: 3px;
    top: 53px;
    right: 155px;
    background-color: #34be82;
    position: absolute;

}
.coustom-h5-Design-process span::before{
    content: '';
    width: 50px;
    height: 3px;
    top: 53px;
    left: 155px;
    background-color: #34be82;
    position: absolute;

}
@media screen and (max-width:1143px){
    .img-design-process img{
        margin-top: -86px;
        width: 475px!important;
    }
}
@media screen and (max-width:992px){
    .img-design-process img{
        margin-top: -469px!important;
        width: 415px!important;
        height: 500px;
        margin-right: 310px;
    }
}
