.Newsletters{
    background-color: #b7e1e2;
    height: 146px;
}
.Newsletters p:first-child{
    font-size: 1.5rem!important;

}

    
.Newsletters .p-define{
    color: #454545!important;
    font-size: .9rem!important;
}
.Newsletters .form-control{
    background-color: #fff;
    border-radius: 0;
}
.Newsletters .form-control::placeholder{
    font-size: .7rem;
}
.Newsletters button{
    color: rgb(35, 35, 35);
    background-color: #34be82;
    border: none;
    border-radius: 0;
    width: 100px;
}
.Newsletters .input-group .form {
    width: 413px;
    margin-right: 118px;

}
.coustom-newsletters{
    position: relative;
    top: 35px;
    z-index: 1;

}
@media screen and (max-width:1400px){
   .Newsletters .input-group{
   
        margin-left: 91px!important;
    }
}
@media screen and (max-width:1200px){
    .Newsletters .input-group .form {
    
         margin:0 73px 0 -17px ;
     }
 }
 @media screen and (max-width:992px){
    .Newsletters .input-group .form {
    
         margin:0 11px 0 -75px ;
     }
 }
 @media screen and (max-width:768px){
    .Newsletters .input-group .form {
    
        margin: 0px -33px 0 -123px;
     }
 }
 @media screen and (max-width:576px){
    .Newsletters .input-group .form {
    
        margin: 0px -38px 0 -129px;
     }
 }